/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13-mar-2019, 2:27:08
    Author     : Eduardo
*/

h1{
    color: red;
}
.cabezera{
    background: aqua;
    /* Box size*/
    width:  100%;
    height: 100px;
}
.hoola{}